.content_wrap {
	width: 56.84%;
	max-width: 747px;
	display: flex;
	flex-direction: column;
}

.content {
	margin-top: 32px;
	display: flex;
	flex-direction: column;
}

.top_content {
	display: flex;
	flex-direction: column;
}

.title_wrap {
	display: flex;
	align-items: center;
}

.title_img {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 24px;
	height: 26px;
	margin-right: 8px;
	display: none;
}

.title_img img {
	height: 100%;
}

.top_content h1 {
	font-weight: 700;
	font-size: 24px;
	line-height: 28px;
	color: #fff;
}

.top_items {
	display: flex;
	flex-wrap: wrap;
	margin-top: 24px;
}

.item {
	margin-bottom: 16px;
	height: 264px;
	display: flex;
	align-items: center;
	border-radius: 16px;
	overflow: hidden;
}

.item:last-child {
	margin-bottom: 0;
}

.item_1 {
	width: 100%;
	background: url('../assets/images/home/top-large-bg.png');
}

.item_2 {
	width: 48.2%;
	background: url('../assets/images/home/left-small-bg.png');
}

.item_3 {
	width: 49.6%;
	margin-left: 16px;
	background: url('../assets/images/home/right-small-bg.png');
}

.item_4 {
	width: 100%;
	height: 220px;

	background: url('../assets/images/home/bot-large-bg.png');
}

.item_4 .img_1024 {
	display: none;
}

.item_1,
.item_2,
.item_3,
.item_4 {
	background-repeat: no-repeat;
	background-position: 0 0;
	background-size: 100% 100%;
}

.item_2,
.item_3 {
	display: flex;
	flex-direction: column;
}

.item_1 .description_wrap {
	width: 48.72%;
}

.item_2 .description_wrap {
	width: 100%;
}

.item_3 .description_wrap {
	width: 100%;
}

.item_4 .description_wrap {
	width: 48.72%;
}

.description {
	width: 83.4%;
	display: flex;
	flex-direction: column;
	margin-left: 44px;
}

.item_2 .description_wrap .description {
	width: 82.4%;
	margin: 24px auto 0;
	text-align: center;
}

.item_3 .description_wrap .description {
	width: 84.4%;
	margin: 24px auto 0;
	text-align: center;
}

.description h4 {
	font-weight: 700;
	font-size: 28px;
	line-height: 32px;
	color: #fff;
}

.item_2 .description h5 {
	font-size: 20px;
	line-height: 24px;
	font-weight: 700;
}

.item_3 .description h5 {
	font-size: 20px;
	line-height: 24px;
	font-weight: 700;
}

.description p {
	font-weight: 400;
	font-size: 15px;
	line-height: 20px;
	color: rgba(255, 255, 255, 0.7);
	margin-top: 8px;
}

.item_1 .item_img {
	width: 51.28%;
	height: 100%;
}

.item_2 .item_img {
	margin-top: 36px;
	/* height: 132px; */
	height: 124px;
}

.item_3 .item_img {
	margin-top: 28px;
	height: 116px;
}

.item_4 .item_img {
	width: 51.28%;
	height: 220px;
}

.item_img img {
	max-width: 100%;
	height: 100%;
}

.bottom_content {
	width: 100%;
	margin-top: 32px;
}

h3 {
	font-weight: 700;
	font-size: 20px;
	line-height: 24px;
	color: #fff;
}

.bottom_items {
	margin-top: 24px;
}

.bottom_1 {
	background: url('../assets/images/home/case-1.png');
}

.bottom_2 {
	background: url('../assets/images/home/case-2.png');
}

.bottom_3 {
	background: url('../assets/images/home/case-3.png');
}

.bottom_item {
	width: 100%;
	height: 220px;
	display: flex;
	align-items: flex-end;
	padding: 24px 16px;
	margin-bottom: 24px;
	border-radius: 16px;
	background-repeat: no-repeat;
	background-position: 0 0;
	background-size: 100% 100%;
}

.bottom_item:last-child {
	margin-bottom: 0;
}

.bottom_text {
	width: 64%;
	font-size: 15px;
	line-height: 20px;
}

.bottom_text p {
	font-weight: 400;
	color: #fff;
}

.bottom_text p span {
	font-weight: 700;
	color: #06e9ee;
}

.hidden_btn {
	width: 100%;
	height: 56px;
	display: flex;
	align-items: center;
	margin-top: 16px;
	justify-content: center;
	font-weight: 700;
	font-size: 17px;
	line-height: 24px;
	/* display: none; */
}

.hidden_btn svg {
	height: 24px;
}

@media (max-width: 1370px) {
	.item_2 {
		width: 47.6%;
	}
	.item_3 {
		width: 49%;
	}
	.item_2 .item_img {
		height: 132px;
	}
}
@media (max-width: 1181px) {
	.content_wrap {
		width: 52.84%;
	}
	.description {
		margin-left: 24px;
	}
	.item_1 .description_wrap {
		width: 31.72%;
	}
	.item_1 .item_img {
		width: 68.28%;
	}
	.item_2 .item_img {
		margin-top: 28px;
	}
	.item_3 .item_img {
		margin-top: 8px;
	}
	.item_4 .description_wrap {
		width: 57.72%;
	}
	.item_4 .item_img {
		width: 68.28%;
	}
	.bottom_text {
		width: 71%;
	}
}

@media (max-width: 1025px) {
	.content_wrap {
		width: 43.4%;
	}
	.content {
		margin-top: 0;
	}
	.item_1 {
		flex-direction: column;
		height: 432px;
		background: url('../assets/images/home/top-large-bg-1024.png');
		background-repeat: no-repeat;
		background-position: 0 0;
		background-size: 100% 100%;
	}
	.item_1 .description_wrap {
		width: 100%;
	}
	.description {
		margin: 32px 32px 0;
	}
	.item_1 .item_img {
		width: 100%;
	}
	.item_2 {
		width: 100%;
		height: 260px;
	}
	.item_2 .description_wrap {
		width: 100%;
	}
	.item_2 .description_wrap .description {
		text-align: left;
		/* margin: 32px 32px 0; */
	}
	.item_2 .item_img {
		margin-top: 24px;
	}
	.item_3 {
		width: 100%;
		height: 284px;
		margin-left: 0;
		background: url('../assets/images/home/right-small-bg-1024.png');
		background-repeat: no-repeat;
		background-position: 0 0;
		background-size: 100% 100%;
	}
	.item_3 .description_wrap {
		width: 100%;
	}
	.item_3 .description_wrap .description {
		text-align: left;
		margin: 32px 32px 0;
	}
	.item_3 .item_img {
		margin-top: 24px;
		height: 132px;
	}
	.item_4 {
		flex-direction: column;
		height: 432px;
		background: url('../assets/images/home/bot-large-bg-1024.png');
		background-repeat: no-repeat;
		background-position: 0 0;
		background-size: 100% 100%;
	}

	.item_4 .description_wrap {
		width: 100%;
	}
	.description {
		margin: 32px 32px 0;
	}
	.item_4 .item_img {
		width: 100%;
		height: 264px;
	}
	.bottom_1 {
		background: url('../assets/images/home/case-1-1024.png');
	}

	.bottom_2 {
		background: url('../assets/images/home/case-2-1024.png');
	}

	.bottom_3 {
		background: url('../assets/images/home/case-3-1024.png');
	}

	.bottom_item {
		background-repeat: no-repeat;
		background-position: 0 0;
		background-size: 100% 100%;
	}
	.bottom_text {
		width: 92%;
	}
}
@media (max-width: 840px) {
	.title_wrap {
		width: 90%;
	}
	.title_img {
		display: flex;
	}
	.content_wrap {
		width: 100%;
		max-width: 100%;
	}

	.description {
		margin: 0 0 0 16px;
	}
	.description h4 {
		font-weight: 700;
		font-size: 20px;
		line-height: 24px;
	}
	.item_1 {
		flex-direction: row;
		height: 280px;
	}
	.item_1 .description_wrap {
		width: 76.42%;
	}
	.item_1 .description {
		width: 100%;
	}
	.item_1 .item_img {
		width: 91.28%;
	}
	.item_2 {
		flex-direction: row;
		height: 140px;
	}
	.item_2 .description_wrap {
		width: 56.42%;
	}
	.item_2 .description_wrap .description {
		margin: 0 0 0 16px;
		width: 82.2%;
	}
	.item_2 .item_img {
		margin-top: 16px;
	}
	.item_3 {
		flex-direction: row;
		height: 144px;
	}
	.item_3 .description_wrap {
		width: 53.42%;
	}
	.item_3 .description_wrap .description {
		margin: 0 0 0 16px;
		width: 92.42%;
	}
	.item_4 {
		flex-direction: row;
		height: 280px;
	}
	.item_4 .description_wrap {
		width: 84.42%;
	}
	.item_4 .description_wrap .description {
		margin: 0 0 0 16px;
		width: 96.42%;
	}
	h3 {
		font-size: 24px;
		line-height: 28px;
	}
	.bottom_1 {
		background: url('../assets/images/home/case-1-768.png');
	}

	.bottom_2 {
		background: url('../assets/images/home/case-2-768.png');
	}

	.bottom_3 {
		background: url('../assets/images/home/case-3-768.png');
	}
	.bottom_item {
		padding: 16px;
		margin-bottom: 24px;
		border-radius: 16px;
		background-repeat: no-repeat;
		background-position: 0 0;
		background-size: 100% 100%;
	}
	.hidden_btn {
		display: flex;
	}
}

@media (max-width: 531px) {
	.title_wrap {
		width: 100%;
		align-items: flex-start;
	}
	form p {
		text-align: left;
	}

	.item_1 {
		flex-direction: column;
		height: 408px;
	}
	.item_1 .description_wrap {
		width: 100%;
		padding: 24px 16px 0;
	}
	.item_1 .description_wrap .description {
		margin: 0;
	}

	.item_1 .item_img {
		width: 100%;
		height: 264px;
		margin-top: 48px;
	}
	.item_2 {
		flex-direction: column;
		height: 252px;
	}
	.item_2 .description_wrap {
		width: 100%;
		padding: 24px 16px 0;
	}
	.item_2 .description_wrap .description {
		margin: 0;
		width: 100%;
	}
	.item_2 .item_img {
		margin-top: 24px;
	}
	.item_3 {
		flex-direction: column;
		height: 263px;
	}
	.item_3 .description_wrap {
		width: 100%;
		padding: 24px 16px 0;
	}
	.item_3 .description_wrap .description {
		margin: 0;
	}
	.item_3 .item_img {
		width: 100%;
		margin-top: 24px;
		height: 119px;
	}
	.item_4 {
		flex-direction: column;
		height: 404px;
	}
	.item_4 .description_wrap {
		width: 100%;
		padding: 24px 16px 0;
	}
	.item_4 .description_wrap .description {
		margin: 0;
	}
	.item_4 .item_img {
		margin-top: 24px;
	}
	.bottom_1 {
		background: url('../assets/images/home/case-1-430.png');
	}

	.bottom_2 {
		background: url('../assets/images/home/case-2-430.png');
	}

	.bottom_3 {
		background: url('../assets/images/home/case-3-430.png');
	}
	.bottom_item {
		background-repeat: no-repeat;
		background-position: 0 0;
		background-size: 100% 100%;
	}
}
@media (max-width: 375px) {
	.item_1 .item_img {
		width: 430px;
		margin-top: 24px;
	}

	.item_3 .description_wrap .description {
		width: 100%;
	}
	.item_3 .item_img {
		margin-top: 20px;
	}

	.item_4 .description_wrap .description {
		width: 98%;
	}
	.item_4 .item_img {
		width: 430px;
	}
	.bottom_text {
		width: 96%;
	}
}
