.item_1 {
	width: 100%;
	background: url('../assets/images/corporate/top-large-bg.png');
}

.item_2 {
	width: 48.2%;
	background: url('../assets/images/corporate/left-small-bg.png');
}

.item_3 {
	width: 49.6%;
	margin-left: 16px;
	background: url('../assets/images/corporate/right-small-bg.png');
}

.item_4 {
	width: 100%;
	height: 220px;
	background: url('../assets/images/corporate/bot-large-bg.png');
}

.item_1,
.item_2,
.item_3,
.item_4 {
	background-repeat: no-repeat;
	background-position: 0 0;
	background-size: cover;
}

.item_2 .item_img {
	margin-top: 16px;
	height: 132px;
}

.bottom_1 {
	background: url('../assets/images/corporate/case-1.png');
}

.bottom_2 {
	background: url('../assets/images/corporate/case-2.png');
}

.bottom_3 {
	background: url('../assets/images/corporate/case-3.png');
}

.bottom_item {
	background-repeat: no-repeat;
	background-position: 0 0;
	background-size: cover;
}

.bottom_text {
	width: 64%;
}
