.form {
	display: flex;
	flex-direction: column;
	width: 41.7%;
}

form {
	border-radius: 32px;
	/* position: sticky;
	top: 32px; */
	width: 100%;

	padding: 44px 32px;
	background: #1e1e2c;
}
.form_title {
	flex-direction: column;
}
.sign {
	font-weight: 700;
	font-size: 32px;
	line-height: 36px;
	color: #fff;
}
.form_title p {
	margin-top: 8px;
}

form p {
	font-weight: 400;
	font-size: 17px;
	line-height: 24px;
	color: rgba(255, 255, 255, 0.7);
}

.form_title p {
	margin-top: 8px;
}

.input_box {
	width: 100%;
	margin-top: 40px;
}

.input_wrap {
	width: 100%;

	display: flex;
	align-items: center;

	border: 1px solid rgba(144, 146, 175, 0.2);
	border-radius: 14px;
	padding: 18px 16px;
	margin-bottom: 16px;
	/* width: 485px;
	height: 56px; */
	background: #353648;
}

.input_wrap:last-child {
	margin-bottom: 0;
}

input {
	width: 100%;
	font-weight: 400;
	font-size: 15px;
	line-height: 133%;
	color: rgba(255, 255, 255, 0.9);
	background: #353648;
	border: none;
	outline: none;
}

input::placeholder {
	font-weight: 400;
	font-size: 15px;
	line-height: 133%;
	color: rgba(255, 255, 255, 0.7);
	background: #353648;
}

.input_box p span {
	font-weight: 400;
	font-size: 15px;
	line-height: 20px;
	color: #06e9ee;
	margin-top: 16px;
}

.button_wrap {
	margin: 40px auto 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.button_text {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.button_wrap button {
	border-radius: 20px;
	padding: 16px 36px;
	width: 280px;
	height: 56px;
	background: rgba(144, 146, 175, 0.05);
	border: 0;
	outline: none;
	font-weight: 700;
	font-size: 17px;
	line-height: 24px;
	color: rgba(255, 255, 255, 0.4);
	cursor: pointer;
}

.button_text {
	margin-top: 16px;
}

.button_text p {
	font-weight: 400;
	font-size: 15px;
	line-height: 20px;
	color: #fff;
	margin-top: 16px;
}

.button_text a {
	font-weight: 400;
	font-size: 15px;
	line-height: 20px;
	color: #06e9ee;
	margin-top: 8px;
}

.button_wrap .line {
	width: 53px;
	height: 0.5px;
	border-radius: 20%;
	background: rgba(6, 233, 238, 0.8);
	margin-top: 3px;
}
.networks_wrap {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-top: 144px;
}

.authorization_title {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.authorization_title p {
	font-weight: 400;
	font-size: 17px;
	line-height: 24px;
	color: #fff;
}

.authorization_title .line {
	border: 1px solid #51526d;
	width: 75px;
	height: 0px;
}

.networks_icons {
	width: 100%;
	display: flex;
	justify-content: center;
	margin-top: 32px;
}

.networks_icons a {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 64px;
	height: 44px;
	border: 1px solid rgba(6, 233, 238, 0.2);
	border-radius: 12px;
	padding: 0px 24px;
	margin-left: 16px;
}

.networks_icons a:first-child {
	margin-left: 0;
}

@media (max-width: 1181px) {
	.form {
		width: 46.7%;
	}
}
@media (max-width: 1025px) {
	.form {
		width: 53.3%;
	}
}
@media (max-width: 840px) {
	.form {
		width: 100%;
		display: none;
	}
}
