header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-radius: 24px;
	padding: 12px 20px;

	height: 64px;
	backdrop-filter: blur(30px);
	background: rgba(30, 30, 44, 0.75);
}

.sticky_header {
	position: sticky;

	top: 32px;

	width: 100%;
	/* border-radius: 0; */
	/* height: 48px; */
}

.header_1024 {
	display: none;
	margin-bottom: 32px;
}

.header_logo {
	width: 90px;
	height: 28px;
}

.links {
	width: 83.59%;
	max-width: 580px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.link {
	display: inline-flex;
	align-items: center;
	justify-content: center;

	border-radius: 12px;
	padding: 12px;

	font-weight: 400;
	font-size: 13px;
	line-height: 16px;

	color: rgba(255, 255, 255, 0.7);
	transition: all 0.4s ease;
	box-sizing: border-box;
}

.link:nth-child(1) {
	width: 184px;
	margin-left: 0;
}

.link:nth-child(2) {
	width: 158px;
}

.link:nth-child(3) {
	width: 224px;
}

.link:hover,
.link.active {
	background: #7102ff;
	font-weight: 700;
	color: #fff;
}

.mobile_header {
	display: flex;
	flex-direction: column;
	position: fixed;
	top: calc(100vh - 160px);
	left: 0;
	width: 100%;
	height: 160px;
	padding: 16px;
	border-radius: 0px;
	backdrop-filter: blur(10px);
	background: rgba(30, 30, 44, 0.1);
	display: none;
}

.mobile_header .links {
	width: 100%;
	height: 56px;
	max-width: 100%;
	padding: 4px;
	background: #1e1e2c;
	border: 1px solid rgba(255, 255, 255, 0.1);
	border-radius: 16px;
}

.mobile_header .links .link {
	width: 32%;
	max-width: 237px;
	padding: 16px;
}

.mobile_header .links .link:hover,
.mobile_header .links .link.active {
	font-weight: 700;
	color: #fff;
	background: #5b00d0;
}

@media (max-width: 1385px) {
	.content_header {
		padding: 12px 16px;
	}
	.link:nth-child(3) {
		width: 228px;
	}
	.link:nth-child(1) {
		width: 188px;
	}
}
@media (max-width: 1360px) {
	.header_1024 {
		display: flex;
	}
	.content_header {
		display: none;
	}
}
@media (max-width: 1181px) {
}
@media (max-width: 1025px) {
}
@media (max-width: 840px) {
	.sticky_header {
		position: fixed;
		top: 0;
		left: 0;
	}
	.header_1024 .links {
		display: none;
	}

	.mobile_header {
		display: flex;
	}
}
@media (max-width: 769px) {
}
@media (max-width: 431px) {
}
@media (max-width: 375px) {
}
