.container {
	height: 100vh;
}
.registration_header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	padding: 12px 20px;
	height: 64px;
	backdrop-filter: blur(30px);
	background: rgba(30, 30, 44, 0.75);
	display: none;
	position: fixed;
	top: 0;
	left: 0;
}
.logo {
	width: 537px;
	display: flex;
	align-items: baseline;
	margin: auto;
}

.registration_logo {
	width: 477px;
	display: block;
}

.registration_logo img {
	max-width: 100%;
}

.beta {
	display: block;
	width: 50px;
	margin-bottom: 28px;
}
@media (max-width: 1025px) {
	.logo {
		width: 407px;
	}
	.registration_logo {
		width: 307px;
	}
}
@media (max-width: 940px) {
	.registration_header {
		display: flex;
	}
	.registration_header .close {
		display: block;
	}
	.registration_content {
		display: none;
	}
	.form_registration {
		width: 100%;
		display: flex;
	}
}
